.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: 100%;
  height: 70px;
  border-radius: 5px;
  object-fit: cover;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  outline: none;
  border: 4px solid #f06a23;
  border-radius: 10px;
}
