@import url(https://db.onlinewebfonts.com/c/34e6da98fa1d2a709d4e7b8033a7c933?family=Futura+Std+Light);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  /* font-family: "Futura Std Light" !important; */
  font-family: "Roboto", sans-serif !important;
}
a:hover,
a {
  text-decoration: none !important;
}
.Poppins {
  font-family: "Poppins", sans-serif !important;
}
.Roboto {
  font-family: "Roboto", sans-serif !important;
}
.ob-cover {
  object-fit: cover;
}
.ob-contain {
  object-fit: contain;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.themeOrg {
  color: #f06a23 !important;
}
.BgOrg {
  background-color: #f06a23 !important;
}
.themeGrn {
  color: #277150 !important;
}
.page-link:focus,
input:focus {
  box-shadow: unset !important;
}
/*=============== tab style ============*/
.tabStyle {
  background-color: #fff;
  min-width: 120px;
  text-align: center;
  padding: 10px 5px;
  border-radius: 30px;
  box-shadow: 0 5px 9px 4px #ee692257;
}
/*=============== Slider style ============*/
.homeSlider {
  background-image: url(/assets/img/mainBanner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0rem 0;
  height: 720px;
}
.mainBannerHeigth {
  height: 600px;
}
.mainBannerText {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  height: fit-content;
}
.homeSlider .bannerImg {
  width: 100%;
  height: 100vh;
  /*    object-fit: cover;*/
  position: relative;
}
/*=============== About us style ============*/
.bgColor {
  background: rgb(213, 224, 219);
  background: linear-gradient(
    0deg,
    rgba(213, 224, 219, 0.24702380952380953) 0%,
    rgba(213, 224, 219, 0.5999649859943977) 45%,
    rgba(138, 173, 157, 0.8828781512605042) 77%,
    rgba(93, 144, 121, 1) 100%
  );
  /* background: linear-gradient(
    160deg,
    #ffe3b4,
    #ffcc77 32%,
    #c9f39e 60%,
    #beff7c
  ); */
  /* padding: 6rem 0 1rem; */
}
.bgColor1 {
  padding-top: 6rem;
}
.aboutFixedBg {
  /* position: relative;
  background-image: url(/assets/img/banner2.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 48px 38px; */
}
.aboutContent {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}
.aboutUsLine {
  width: 100%;
  background-color: #f06a23;
  height: 2px;
  margin: 2rem 0;
  position: relative;
}
.aboutUsLine .span {
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0 11px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.aboutImag {
  box-shadow: 0 5px 9px 4px #ee692257;
  margin: 2rem 0;
  border-radius: 20px;
}

.sevtextTent {
  width: 75%;
  background-color: #f06a23;
  height: 2px;
  margin: 2rem auto;
  position: relative;
}
.posiSpan {
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0 11px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.posiSpan .span2 {
  background-color: #f06a23;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
}
/*=============== Category style ============*/
.categoryProjectBg {
  /* background: rgb(242, 119, 33);
  background: linear-gradient(
    145deg,
    rgba(242, 119, 33, 0.6587885154061625) 0%,
    rgba(39, 113, 80, 0.9529061624649859) 0%,
    rgba(239, 107, 35, 0.9473039215686274) 64%,
    rgba(239, 107, 35, 0.9501050420168067) 100%
  ); */
  background: linear-gradient(
    160deg,
    #ffe3b4,
    #ffcc77 32%,
    #c9f39e 60%,
    #beff7c
  );
  padding: 50px 0;
  position: relative;
  /* background: linear-gradient(
      86deg,
      rgba(242, 119, 33, 0.6587885154061625) 0%,
      rgba(7, 215, 83, 0.5047268907563025) 0%,
      rgba(219, 122, 55, 0.633578431372549) 63%,
      rgba(219, 122, 55, 0.5747549019607843) 100%
    ),
    url(/assets/img/cateProjectbg.png); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.categoryScroll {
  display: flex;
  flex-wrap: nowrap;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.categoryScroll::-webkit-scrollbar {
  display: none;
}
.categoryCard {
  -ms-overflow-style: none;
  text-align: center;
  border-radius: 8px;
  padding: 20px 15px 15px;
  margin-right: 10px;
  flex: 0 0 16%;
  background: linear-gradient(135deg, #f06a23 50%, #fff 0) 100% 100%;
  background-size: 300% 102%;
  transition: all 0.5s ease-in-out;
  min-width: 250px;
}
.tag {
  align-items: center;
  background-color: #fff;
  border-radius: 28px;
  display: inline-flex;
  font-size: 12px;
  grid-gap: 4px;
  justify-content: center;
  letter-spacing: 0.5px;
  padding: 4px 16px;
}
.categoryCard:hover {
  box-shadow: 0 5px 9px 4px #ee692257;
  background-position: 0 0;
}
.categoryCard .CateIconBg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 93, 174, 0.08);
  margin-left: auto;
  margin-right: auto;
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
.categoryCard:hover .CateIconBg {
  background-color: #fff !important;
}

.categoryCard:nth-child(2n) .CateIconBg {
  background-color: rgba(160, 70, 236, 0.08);
}

.categoryCard:nth-child(3n) .CateIconBg {
  background-color: rgba(0, 207, 255, 0.08);
}

.categoryCard:nth-child(4n) .CateIconBg {
  background-color: rgba(255, 227, 0, 0.17);
}

.categoryCard:nth-child(5n) .CateIconBg {
  background-color: rgba(134, 240, 86, 0.14);
}
/*=============== Project style ============*/
.property__card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 12px;
  padding-top: 12px;
  margin-top: auto;
}
.tag-black {
  color: #fff;
  background: #277150;
  background-size: 250%;
  font-size: 12px;
  transition: 0.3s ease-in-out;
}
.property__card-author {
  display: flex;
  flex: 1 1;
}
.property__card-author-media {
  flex: 0 0 28px;
  max-width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #eef5fe;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.property__card-author-media p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
.property__card-author-title {
  color: #277150;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.property__card-author-title a {
  color: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*=============== Service style ============*/
.serviceBg {
  background-image: linear-gradient(
      86deg,
      rgba(242, 119, 33, 0.6587885154061625) 0%,
      rgba(7, 215, 83, 0.5047268907563025) 0%,
      rgba(219, 122, 55, 0.633578431372549) 63%,
      rgba(219, 122, 55, 0.5747549019607843) 100%
    ),
    url(/assets/img/core-services-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 81px 4rem;
  color: #fff;
}
.ulGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
/*=============== Login style ============*/
.form-control:focus,
.form-control:hover {
  box-shadow: none;
}
.singleBoxBg {
  position: relative;
  background-color: #fff;
  /* background: linear-gradient(
    86deg,
    rgba(242, 119, 33, 0.6587885154061625) 0%,
    rgba(7, 215, 83, 0.5047268907563025) 0%,
    rgba(219, 122, 55, 0.633578431372549) 63%,
    rgba(219, 122, 55, 0.5747549019607843) 100%
  ); */
  /* url(/assets/img/banner2.jpeg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 48px 38px;
  /* height: 100vh; */
}
.btn-save {
  color: #fff !important;
  background-color: #277150 !important;
  /* background: linear-gradient(
    145deg,
    rgba(242, 119, 33, 0.6587885154061625) 0%,
    rgba(39, 113, 80, 1) 0%,
    rgba(239, 107, 35, 1) 82%,
    rgba(239, 107, 35, 1) 100%
  ); */
}
.btn-save:hover {
  color: #fff;
  box-shadow: 0 5px 9px 4px #ee692257;
}
.singleBoxStyle {
  background-color: #fff;
  padding: 3rem;
  max-width: 500px;
  margin: auto;
  height: fit-content;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 5px 9px 4px #ee692257;
  border-radius: 10px;
}
.pass-view:before {
  background-image: url(/assets/img/view.png);
}
.pass-hide:before,
.pass-view:before {
  content: "";
  background-repeat: no-repeat;
  width: 25px;
  height: 21px;
  display: block;
  cursor: pointer;
}
.pass-hide:before {
  background-image: url(/assets/img/hide.png);
}
.field-icon {
  position: absolute;
  top: 23px;
  right: 15px;
}
/*=============== Teams style ============*/
.teamImg {
  width: 100% !important;
  height: 400px !important;
  object-fit: contain;
}
.colReverse:nth-child(even) {
  flex-direction: row-reverse;
}
/*=============== Footer style ============*/
footer {
  /* background: linear-gradient(
    160deg,
    #ffe3b4,
    #ffcc77 32%,
    #c9f39e 60%,
    #beff7c
  ); */
  /* background: rgb(242, 119, 33);
  background: linear-gradient(
    145deg,
    rgba(242, 119, 33, 0.6587885154061625) 0%,
    rgba(39, 113, 80, 0.9529061624649859) 0%,
    rgba(239, 107, 35, 0.9473039215686274) 64%,
    rgba(239, 107, 35, 0.9501050420168067) 100%
  ); */
  padding: 2rem 0 1rem;
  color: #000;
  /* margin-top: 2rem; */
}
/*=============== Poject Filter style ============*/

/*=================== Property List ===============*/
.properyList {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 9px 4px #ee692257;
  padding: 10px;
  display: flex;
  grid-gap: 15px;
  position: relative;
  margin-bottom: 1rem;
}
.propImg,
.propertyImgBox {
  width: 330px !important;
  height: 210px !important;
  border-radius: 10px;
  object-fit: cover;
}
.compare-view {
  align-items: center;
  display: flex;
  gap: 16px;
  position: absolute;
  right: 15px;
  top: 10px;
  text-transform: capitalize;
}
.search_heart_div {
  background: #fff;
  padding: 4px 4px 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 4px;
}
/*================ Detail Style ================ */
.fs12 {
  font-size: 12px !important;
}

/*================ Blogs ================ */
.userImg {
  position: absolute;
  width: 35px !important;
  height: 35px !important;
  object-fit: cover;
  border-radius: 50%;
  top: 10px !important;
  left: 5px !important;
}
.deailViewAbsula {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.formStyle .form-group .form-control {
  height: 50px;
}
.radio-buttons label {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 6px 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 9px 4px #ee692257;
}
.radio-buttons .form-group {
  display: inline-block;
  margin: 6px;
}
.radio-buttons input[type="checkbox"] {
  display: none;
}

.radio-buttons input[type="checkbox"]:checked + label {
  background-color: #f06a23;
  color: #fff;
}
.ql-editor {
  min-height: 200px;
}
tr {
  vertical-align: middle;
}
.table td .toggle {
  height: 16px;
  width: 32px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #aaaaaa;
  transition: all 0.2s ease;
  /*	margin-top: 9px;*/
}
.table td .toggle:checked {
  border: 2px solid #f16b24;
  background-color: transparent;
}
.table td .toggle:checked:after {
  transform: translatex(17px);
  background: #f16b24;
}
.table td input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.table td .toggle:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #aaa;
  /* box-shadow: 0 5px 9px 4px #ee692257; */
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.fixedBotoRi {
  right: 88px;
  bottom: 22px;
  z-index: 9;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
  content: attr(data-value) !important;
}
.checkboxStyle input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

.checkboxStyle input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.checkboxStyle input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.dottedBorer {
  border-bottom: 3px dotted #f06a23;
  margin: 10px 0;
}
.text-align-justify {
  text-align: justify;
}
.hover01 {
  position: relative;
  /* float: left; */
  width: 100%;
  height: 300px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}
figure {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 25px;
}
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover01:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.missinContent {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #fff;
  height: 70px;
  overflow: hidden;
  visibility: hidden;
}

.hover01:hover .missinContent {
  height: 100%;
  overflow: visible;
  background-color: #00000091;
  transition: all ease-in-out 0.5s;
  border-radius: 25px;
  width: 100%;
  visibility: visible;
}
/*================ Responsive ================ */

@media (max-width: 1199.9px) {
  .serviceBg {
    padding: 50px 1rem;
  }
}
@media (max-width: 991.9px) {
  .homeSlider .bannerImg {
    height: auto;
  }

  .aboutFixedBg {
    padding: 30px 8px;
  }
}
@media (max-width: 768.9px) {
  .homeSlider {
    padding: 8rem 0 4rem;
  }
  .properyList {
    display: grid;
  }
  .propImg,
  .propertyImgBox {
    width: 100% !important;
  }
  .compare-view {
    top: 15px;
  }
}
@media (max-width: 575.9px) {
  .AmenitBox .categoryCard {
    min-width: 100px;
  }
  .deailViewAbsula {
    position: static;
  }
}
