@font-face {
  font-family: "preeti";
  src: url("/assets/fonts/preeti.otf");
}

.ql-font-preeti {
  font-family: "preeti" !important;
}
.line2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.line5 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.line6 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.line7 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.line8 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.line9 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 991.1px) {
  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: 0.25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block !important;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}
.navbar-toggler:focus {
  box-shadow: unset !important;
}
.faqToggle::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  background-image: url("/assets/img/RightDrop.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
.rotete.faqToggle::after {
  transform: rotate(90deg);
}
.bigImage {
  width: 100% !important;
  height: 350px !important;
  object-fit: cover;
}
.smallImage {
  width: 100% !important;
  height: 171px !important;
  object-fit: cover;
}
.overLayBg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
}
.overLayText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: fit-content;
  height: fit-content;
  margin: auto;
  z-index: 99;
}
.hideHetFid:first-child .overLayBg::after,
.hideHetFid:first-child .overLayText {
  display: none;
}
.top-85 {
  top: 85px !important;
}
.shadow {
  box-shadow: 0 5px 9px 4px #ee692257 !important;
}
.ribbon {
  width: 140px;
  height: 96px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 6px 0;
  background-color: #f06a23;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 13px;
  text-shadow: 0 5px 9px 4px #ee692257;
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: 0px;
  left: 0px;
}

.ribbon-top-left span {
  right: -9px;
  top: 21px;
  transform: rotate(-45deg);
}
.input-container {
  position: relative;
}
.form-control.InputSpace {
  padding-left: 6.5rem;
}
.InputText {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
}
.tableCellVerMiddle {
  display: table-cell;
  vertical-align: middle;
}

/* Styling the links of 
the events section */
/* section .events ul {
  padding: 40px;
  box-sizing: border-box;
} */

/* Styling the lists of the event section */
section .events .eventCard {
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  margin: 15px 0;
  box-shadow: 0 5px 9px 4px #ee692257;
}

/* Styling the time class of events section */
section .events .eventCard .time {
  position: relative;
  padding: 20px;
  background: #277150;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: 0.5s;
}

/* Styling the hover effect
  of events section */
section .events .eventCard:hover .time {
  background: #f06a23;
}

/* Styling the header of time 
  class of events section */
section .events .eventCard .time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  /* line-height: 30px; */
  height: fit-content;
  display: grid;
}

/* Styling the texts of time 
class of events section */
section .events .eventCard .time h2 span {
  font-size: 20px;
}

/* Styling the details 
class of events section */
section .events .eventCard .details {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

/* Styling the header of the 
details class of events section */
section .events .eventCard .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

/* Styling the lists of details 
class of events section */
section .events .eventCard .details p {
  position: relative;
  /* margin: 10px 0 0; */
  padding: 0;
  font-size: 16px;
}

/* Styling the links of details
class of events section */
section .events .eventCard .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 1.5px solid #277150;
  margin-top: 8px;
  font-size: 18px;
  transition: 0.5s;
}

/* Styling the details class's hover effect */
section .events .eventCard .details a:hover {
  background: #f06a23;
  color: #fff;
  border-color: #f06a23;
}

/* file upload button */
.single input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
.single input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
.single input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
.PaymentQRStyle {
  width: 250px !important;
  height: 250px !important;
  object-fit: contain;
}
.navbar-nav .nav-link.btn-link:hover {
  color: #fff !important;
}
.btn-link,
.btn-link:hover {
  background: #ef6b23 !important;
  color: #fff !important;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
}
.ourTeam {
  display: flex;
  grid-gap: 20px;
  background: rgb(213, 224, 219);
  background: linear-gradient(
    0deg,
    rgba(213, 224, 219, 0.24702380952380953) 0%,
    rgba(213, 224, 219, 0.5999649859943977) 45%,
    rgb(138 173 157 / 10%) 77%,
    rgb(93 144 121 / 10%) 100%
  );
  border-radius: 20px;
  box-shadow: 1px 1px 7px 8px rgb(0 0 0 / 9%);
}
.ourTeamImag {
  width: 250px;
  height: 250px;
  border-radius: 20px 0 0px 20px;
  object-fit: cover;
}
.dangp0 p {
  margin-bottom: 0 !important;
}
